<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nikita.recipiesapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.recipes.RecipesActivity"
            android:label="@string/title_activity_recipes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.steps.StepListActivity"
            android:parentActivityName=".views.recipes.RecipesActivity"
            android:theme="@style/AppTheme.StepListTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.recipes.RecipesActivity"/>
        </activity>
        <activity
            android:name=".views.steps.StepDetailActivity"
            android:parentActivityName=".views.steps.StepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.steps.StepListActivity"/>
        </activity>

        <receiver android:name=".views.IngredientsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredients_widget_provider"/>
        </receiver>
        <service android:name=".views.IngredientsWidgetProvider$ViewsService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>